.Phonetic{
  height: 40px;
  }

.Phonetic a {
  border: 1px solid darkblue;
  text-decoration: none;
  padding: 6px 15px;
  font-size: 13px;
  font-weight: bold;
  border-radius:20px;
  margin-right: 10px;
}

.Phonetic a:hover{
  background: #0586f0;
  color: white;
}

.Phonetic .text{
  opacity: 0.5;
  font-weight: bold;
}